* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Playfair Display", serif;
  text-align: center;
  background-color: #3a3132;
}
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.container {
  margin-left: 5%;
  margin-right: 5%;
}
/* navbar */
nav {
  justify-content: center;
  width: 100%;
  height: 50px;
  position: fixed;
  line-height: 50px;
  text-align: center;
  z-index: 10;
}
nav .logo {
  font-family: "PT Sans", sans-serif;
  width: 180px;
  height: 20px;
  position: absolute;
  margin: 3px 3px auto;
}
nav .logo a {
  text-decoration: none;
  color: white;
  font-size: 1.8em;
  text-transform: uppercase;
}
nav .logo a:hover {
  color: #f2cf30;
}
nav .nav_list {
  width: 600px;
  height: 65px;
  float: right;
}
nav .nav_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
}
nav .nav_list ul li {
  width: 120px;
  height: 65px;
}
nav .nav_list ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
nav .nav_list ul li a:hover {
  color: #f2cf30;
  background-color: white;
}
nav .media_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 15px;
  display: none;
}
nav .media_button .media_button_utama {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: 0;
  border: none;
  cursor: pointer;
}
nav .media_button .media_button_utama span {
  width: 98%;
  height: 1px;
  display: block;
  background-color: #f2cf30;
  margin-top: 10px;
  margin-bottom: 10px;
}
nav .media_button .media_button_utama:hover span:nth-of-type(1) {
  transform: rotateX(180deg);
  transition: all 0.4s;
  background-color: white;
}
nav .media_button .media_button_utama:hover span:nth-of-type(2) {
  transform: rotateX(180deg);
  transition: all 0.3s;
  background-color: white;
}
nav .media_button .media_button_utama:hover span:nth-of-type(3) {
  transform: rotateX(180deg);
  transition: all 0.2s;
  background-color: white;
}
nav .media_button button.active span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 45deg);
  position: absolute;
  margin: 0;
}
nav .media_button button.active span:nth-of-type(2) {
  display: none;
}
nav .media_button button.active span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -45deg);
  position: absolute;
  margin: 0;
}
nav .media_button button.active:hover span:nth-of-type(1) {
  transform: rotate3d(0, 0, 1, 20deg);
}
nav .media_button button.active:hover span:nth-of-type(3) {
  transform: rotate3d(0, 0, 1, -20deg);
}
/* bagian home */
.home {
  width: 100%;
  height: 100vh;
  background-color: white;
}
/* banner */
.bgimage {
  height: 100vh;
  background: url(./images/glenn-carstens-peters-P1qyEf1g0HU-unsplash.jpg);
  background-size: cover;
}
/* text banner */
.banner-title {
  font-size: 5rem;
  color: white;
  margin-top: 100px;
  left: 200px;
}
.banner-text h2 {
  cursor: pointer;
}
.banner-text span {
  color: #f2cf30;
}
.banner-text h2:hover span {
  color: #f2cf30;
  text-shadow: 0 0 10px #f2cf30, 0 0 20px #f2cf30, 0 0 40px #f2cf30,
    0 0 80px #f2cf30, 0 0 120px #f2cf30, 0 0 160px #f2cf30;
}
.banner-text {
  font-family: "PT Sans", sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner-text img {
  height: 380px;
  width: 300px;
  border-radius: 50%;
}
/* akhir banner */

/* bagian about */
#about {
  background-color: #3a3132;
}
h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.isi-about {
  display: inline-block;
  margin-top: 10px;
}
.isi-about img {
  margin-bottom: 50px;
  height: 320px;
  width: 300px;
}
.text-about {
  color: white;
}
.text-about a {
  color: #f2cf30;
}
#about h1 {
  color: white;
}
/* akhir about */

/* hobi */
#hobby {
  background-color: #f2edd7;
}
.hobi-list {
  display: inline-block;
}
.card {
  width: 230px;
  height: 180px;
  float: left;
  perspective: 500px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.content {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  color: #3a3132;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
}
h2 {
  margin-top: 50px;
}
.back {
  background: #3a3132;
  color: white;
  transform: rotateY(180deg);
}
.front {
  font-size: 30px;
}
/* akhir hobi */

/* bagian cert */
#cert {
  background-color: #f2cf30;
}
.list-certi {
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.list-certi img {
  width: 200px;
  height: 300px;
  padding: 10px;
}
.list-certi img:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}
/* akhir cert */

/* footer */
#contact {
  background-color: #3a3132;
}
#contact h1 {
  color: white;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid aliceblue;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: white;
}

input[type="submit"] {
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  transform: scale(1.1);
}
.contact-me {
  display: inline-block;
  width: 400px;
  height: 480px;
  border-radius: 5px;
  background-color: #f2edd7;
  padding: 20px;
  margin-bottom: 20px;
}
.sosmed ul li {
  list-style: none;
  display: inline-block;
}
.sosmed img {
  height: 100px;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* akhir footer */

/* animasi text */
/* akhir animasi text */

/* responsif */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .container {
    margin: 0;
  }
  nav .logo {
    margin-left: 15px;
  }
  nav .nav_list {
    width: 100%;
    margin-top: 65px;
    height: 0;
    overflow: hidden;
  }
  nav .show_list {
    height: 200px;
  }
  nav .nav_list ul {
    flex-direction: column;
    width: 100%;
    height: 200px;
    top: 80px;
    right: 0;
    left: 0;
  }
  nav .nav_list ul li {
    width: 100%;
    height: 40px;
  }
  nav .nav_list ul li a {
    text-align: center;
    line-height: 40px;
    width: 100%;
    height: 40px;
    display: table;
  }
  nav .nav_list ul li a:hover {
    background-color: black;
    opacity: 0.7;
  }
  nav .media_button {
    display: block;
  }
  .hobi-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
